/*this file created by Michael F for custom css overrides*/
/*common vars*/
@bordercolors: grey;
/* common vars*/

/*whole system styles*/
.form-section { border-color: @bordercolors !important; }
.form-section .h6.uppercase { color: maroon; }
.control-label, .grid-heading-row { color: #36414c !important; }
.form-section .form-section-heading { color: darkblue !important; }
 /*pos*/
 .list-item-table { border: 1px solid @bordercolors !important;}
 .image-view-container .image-view-item {
   border-bottom: 1px solid @bordercolors;
   border-right: 1px solid @bordercolors;
 }
.item-name.list-item__content {
  white-space: unset !important;
}
.quantity.list-item__content .input-group input {
  text-align: center !important;
  /* Firefox */
    -moz-appearance: textfield !important;
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.cart-items {
  height: auto !important;
  max-height: 250px !important;
  min-height: 50px !important;
  .list-item {
    border-bottom: 1px dashed gray !important;
    padding: 5px 0 5px 10px !important;
    .item-name {
      flex: 1.5 !important;
    }
    .quantity {
      flex: 1 !important;
    }
    .discount {
      flex: 0.5 !important;
    }
  }
}
  .empty-state {
    padding-top: 50px !important;
  }
}

/*end whole system styles*/

/*start rtl styles*/
.frappe-rtl {
  .tag-groupby-area {
    left: 0 !important;
    padding: 10px 10px 10px 150px !important;
    right: unset !important;
  }
  .filter-list .sort-selector {
    left: 0 !important;
    right: unset !important;
  }
  .filter-list .sort-selector .dropdown-menu, .page-actions .dropdown-menu, .form-inner-toolbar .dropdown-menu {
    right: auto !important;
    left: 0 !important;
  }
  .form-sidebar .octicon {
    right: 4.5px !important;
  }
  .filter-list .tag-filters-area {
    padding: 10px 10px 0 150px !important;
  }
  .dt-cell__resize-handle {
    left: -3px !important;
    right: unset !important;
  }
  .dt-dropdown {
    left: 10px !important;
    right: unset !important;
  }
  .dt-cell, .list-row-col {
    text-align: right !important;
  }
  .fa-chevron-left::before {
    content: "\f054";
  }
  .fa-chevron-right::before {
    content: "\f053";
  }
  .page-actions {
    text-align: left !important;
  }
  .row-index, .form-inner-toolbar {
    text-align: left !important;
  }
  div.static-area.ellipsis div {
    text-align: left !important;
  }
  .grid-static-col {
    border-left: 1px solid #d1d8dd !important;
  }
  .frappe-control[data-fieldtype="Select"] .control-input .octicon-chevron-down {
    left: 12px !important;
  }
  .pull-right {
    float: left !important;
  }
  .list-row-activity > span:not(:last-child) {
    margin-left: 8px !important;
    margin-right: unset !important;
  }
  .filter-box .remove-filter {
    margin-right: 15px !important;
  }
  .item-group-field {
    margin-right: 15px !important;
  }
  /*pos*/
  .image-view-container .image-view-item {
    border-left: 1px solid @bordercolors;
    border-right: unset !important;
    &:nth-child(4n) {
        border-left: none !important;
        }
  }
  .list-item {
    padding: 5px 10px 5px 0 !important;
    &.indicator::before {
        margin: 0 0 0 4px !important;
    }
  }
  .list-item__content {
    margin-left: 15px !important;
    margin-right: unset !important;
  }
}
/*end of rtl styles*/
