/*reports tag filters in rtl*/
.frappe-rtl {
  .tag-groupby-area {
    left: 0 !important;
    padding: 10px 10px 10px 150px !important;
    right: unset !important;
  }
  .filter-list .sort-selector {
    left: 0 !important;
    right: unset !important;
  }
  .filter-list .tag-filters-area {
    padding: 10px 10px 0 150px !important;
  }
}
