/*this file created by Michael F for custom css overrides*/
.form-section { border-color: grey !important; }
.form-section .h6.uppercase { color: maroon; }
.control-label, .grid-heading-row { color: #36414c !important; }
.form-section .form-section-heading { color: darkblue !important; }


/*reports tag filters in rtl*/
.frappe-rtl {
  .tag-groupby-area {
    left: 0 !important;
    padding: 10px 10px 10px 150px !important;
    right: unset !important;
  }
  .filter-list .sort-selector {
    left: 0 !important;
    right: unset !important;
  }
  .filter-list .sort-selector .dropdown-menu, .page-actions .dropdown-menu {
    right: auto !important;
    left: 0 !important;
  }
  .filter-list .tag-filters-area {
    padding: 10px 10px 0 150px !important;
  }
  .dt-cell__resize-handle {
    left: -3px !important;
    right: unset !important;
  }
  .dt-dropdown {
    left: 10px !important;
    right: unset !important;
  }
  .dt-cell, .list-row-col {
    text-align: right !important;
  }
  .fa-chevron-left::before {
    content: "\f054";
  }
  .fa-chevron-right::before {
    content: "\f053";
  }
  .page-actions {
    text-align: left !important;
  }
  .text-right {
    text-align: right;
  }
}
